<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="M&S"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>MrCook - Eat Well, Live Better!</title>

    <!-- Bootstrap components -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-icons-1.8.1/bootstrap-icons.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css"/>
    <script src="/js/bootstrap/bootstrap.bundle.min.js" defer></script>
    <!-- End of Bootstrap components -->
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script type="module" src="/js/main.js" defer></script>

</head>
<body>
<div class="container">
    <button class="btn btn-primary">asd</button>
</div>
<div th:replace="footer.html :: copy"></div>
</body>